.form {
    width: 375px;
    /*background-color: #c4c4c4;*/

}

.form input {
    float: right;
}

.form button {
    width: 100px;
    height: 30px;
    float: right;
    border-radius: 5px;
}

.myform {
    width: 375px;
    /*background-color: #c4c4c4;*/

}

.myform input {
    float: right;
}

#prefix
{
/*    background-color: aquamarine;*/
    float: right;
    text-align: right;
    margin-top: 0.2em;
    margin-right: 0.2em;
}